.aboutus-container{
    width:540px;
    height:440px;
    background: var(--color4);
    box-shadow: 10px 20px 40px var(--color6);
    border-radius:8px;
    box-shadow:10px 20px 40px var(--color6);;
    margin:calc(50vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Quicksand', sans-serif;
    position:relative}